#Typescript
*.js
*.js.map
*.js.min

#Include lib js files
!src/public/lib/**/*.js

#include vash helpers
!src/helpers/vash/**/*.js

#General
node_modules
bin
.DS_Store

#Security
*.env
*.csr
*.key
*.pem
*.crt

# Webstorm
.idea
